/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  background: url(../images/bg-vodoravna.webp) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
/* NAVBAR */
header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  transition: all 0.4s ease-out;
}
header.sticky {
  background: rgba(7, 7, 7, 0.904);
  border-bottom: 5px solid rgb(247, 31, 31);
}
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
header .logo img {
  height: 65px;
  width: 65px;
}
header .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-family: "Akshar", sans-serif;
  font-size: 1.3rem;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.menu-list li a:hover {
  color: red;
}
.menu-list li a.active {
  color: red;
  border-bottom: 1px solid red;
}
.icon {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(7, 7, 7, 0.904);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom: 5px solid rgb(247, 31, 31);
}
.dropdown-content a {
  padding: 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: red;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*BACK TO TOP BUTTON*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 20px;
}

#myBtn:hover {
  background-color: rgb(196, 14, 14);
}
/* PROSTOR ZA GLAVNI NATPIS */
.banner {
  margin-top: 200px;
  margin-bottom: 150px;
}
.main-title {
  font-family: "Bebas Neue", cursive;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-shadow: 6px 3px 2px rgb(0, 0, 0);
  line-height: 1.1;
}
.main-title span {
  color: rgb(255, 0, 0);
}
.arrow {
  position: absolute;
  left: 50%;
  bottom: -80px;
  width: 60px;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ff0000;
  border-right: 5px solid #ff0000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* PROSTOR ZA COUNTER */
.counter-div .row {
  padding: 25px 0px;
  background-color: rgba(0, 0, 0, 0.589);
  margin: 100px 0px;
  transition: 500ms linear;
}
.counter-div .row:hover {
  box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
}
.counter-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}
.counter {
  animation-duration: 1s;
  animation-delay: 0s;
  color: rgb(255, 0, 0);
}
.counter-subtitle {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Akshar", sans-serif;
}
.counter-icons a {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
.counter-icons a:hover {
  color: rgb(255, 0, 0);
}
/* PROSTOR ZA O NAMA */
.about .row {
  padding: 25px 0px;
  background-color: rgba(0, 0, 0, 0.589);
  transition: 500ms linear;
  margin: 0px;
  margin-top: 80px;
}
.about .row:hover {
  box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
}
.about-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.about .title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  text-transform: uppercase;
}
.about .subtitle {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-transform: uppercase;
}
.about p {
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-family: "Akshar", sans-serif;
  text-align: center;
  font-size: 1.1rem;
}
.about p a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.about p a:hover {
  color: rgb(255, 0, 0);
}
.about p a:hover {
  color: rgb(255, 0, 0);
}
/* MEMBERS IN & OUT */
.list-members {
  line-height: 2;
}
.list-members .in {
  color: rgb(19, 219, 19);
}
.list-members .in a:hover {
  color: rgb(19, 219, 19);
}
.list-members .out {
  color: rgb(236, 12, 12);
}
.list-members .out a:hover {
  color: rgb(236, 12, 12);
}
/* MEMBERS & AVATARS */
.members-div {
  flex-wrap: wrap;
}
.members-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  text-transform: uppercase;
}
.avatar {
  border: 5px solid rgb(255, 0, 0);
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 30px;
}
.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar .bio {
  opacity: 0;
  transition: 300ms linear;
  background-color: rgba(0, 0, 0, 0.589);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.avatar:hover .bio {
  opacity: 1;
}
.avatar .bio hr {
  width: 80%;
  height: 3px;
  margin: 3px auto;
  color: rgb(255, 0, 0);
  opacity: 1;
}
.avatar .bio .name {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Akshar", sans-serif;
  font-size: 1.8rem;
}
.avatar .bio ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.avatar .bio .socials a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-right: 10px;
}
.avatar .bio .socials a:hover {
  color: rgb(255, 0, 0);
}
.avatar .info-icon {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  cursor: pointer;
}
.avatar .info-icon:hover {
  color: rgb(255, 0, 0);
}
.avatar .bio-popup {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.863);
  border: 5px solid rgb(255, 0, 0);
  z-index: 10;
  padding: 30px;
  transition: 500ms linear;
}
.avatar .bio-popup.open {
  visibility: visible;
  opacity: 1;
}
.avatar .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  border: 0;
  color: #fff;
  background: transparent;
  cursor: pointer;
}
.avatar .close:hover {
  color: rgb(255, 0, 0);
}
.avatar .avatar-name {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}
.avatar .avatar-bio .about-scroll{
  height: 50vh;
  overflow-y: scroll;
}
.avatar .avatar-bio p {
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Akshar", sans-serif;
  font-size: 1.2rem;
}
.avatar .avatar-bio span {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
/* PROSTOR ZA O SW-U */
.about-sw .row {
  padding: 25px 0px;
  background-color: rgba(0, 0, 0, 0.589);
  margin: 100px 0px;
  transition: 500ms linear;
}
.about-sw .row:hover {
  box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
}
.about-sw-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.about-sw .title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  text-transform: uppercase;
}
.about-sw p {
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-family: "Akshar", sans-serif;
  text-align: center;
  font-size: 1.1rem;
}
.video-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 50px;
}
.sw-video iframe {
  width: 100%;
  height: 500px;
}
/* FOOTER */
footer {
  background: rgba(7, 7, 7, 0.904);
  width: 100%;
  bottom: 0;
  margin-top: 150px;
}
footer a {
  text-decoration: none;
  color: white;
}
.social a {
  padding: 5px;
}
.fmenu a:hover,
.social a:hover {
  color: red;
}
.form-control {
  border: 1px solid red;
  background-color: rgba(56, 53, 53, 0.589);
}
.form-control:focus {
  border: 1px solid red;
  background-color: rgba(56, 53, 53, 0.589);
  outline: 0;
  box-shadow: none;
}
.btn-primary {
  background-color: rgba(56, 53, 53, 0.589);
  border: 1px solid red;
  outline: 0 !important;
  outline-color: transparent !important;
}
.btn-primary:hover {
  border: 1px solid rgb(255, 0, 0);
  background-color: red;
}
.btn-primary:focus,
.btn-primary:active {
  background-color: red;
  border: none;
  outline: none;
  box-shadow: none;
}
footer img {
  width: 45%;
  object-fit: cover;
  opacity: 0.7;
}
footer .fmenu {
  font-size: 1rem;
  font-family: "Akshar", sans-serif;
}
footer hr {
  color: white;
  opacity: 1;
}
.ftext {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;
}
footer .form-control {
  height: 38px;
}
footer .btn-primary {
  height: 38px;
}
footer input {
  font-family: "Akshar", sans-serif;
  caret-color: #ff0000;
  color: white !important;
}
footer .small {
  font-size: 1rem;
  font-family: "Akshar", sans-serif;
}
p.small.text-white::before {
  margin-top: 7px;
}
/* MEDIA QUERYI */
@media (max-width: 1200px) {
  body.disable-scroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    float: right;
    padding-right: 20px;
  }
  .icon:hover {
    color: red;
  }
  header .logo img {
    height: 50px;
    width: 50px;
  }
  .icon.hide {
    display: none;
  }

  header .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: rgba(7, 7, 7, 0.904);
    padding: 13px 0;
    display: flex;
    align-items: middle;
    flex-direction: column;
    text-align: center;
    border-right: 1px red solid;
    transition: all 0.4s ease;
  }
  header .menu-list.active {
    left: -0%;
  }
  .cancel-btn i {
    float: right;
  }
  .menu-list li {
    margin-top: 20px;
  }
  header .menu-list li a {
    font-size: 23px;
  }
  .dropdown {
    text-align: center;
  }
  .dropdown-content {
    transform: translateX(-50%);
    left: 50%;
  }
  .dropdown-content a {
    padding: 10px;
  }
  .banner {
    margin-top: 180px;
  }
  .main-title {
    font-size: 2.5rem;
  }
  .counter-div .row {
    box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
  }
  .about .row {
    box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
  }
  .about-sw .row {
    box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
  }
  footer img {
    width: 55%;
    object-fit: cover;
  }
  footer .fmenu {
    font-size: 1rem;
  }
  .ftext {
    font-family: "Bebas Neue", cursive;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
  }
}

@media (max-width: 425px) {
  body {
    background: url(../images/bg-okomita.webp) no-repeat center center fixed;
    background-size: cover;
  }
  main {
    overflow: hidden;
  }
  .menu-list li a {
    font-size: 1rem;
  }
  .main-title {
    font-size: 2rem;
  }
  .arrow {
    bottom: -45px;
  }
  .arrow span {
    width: 20px;
    height: 20px;
  }
  .counter-title {
    font-size: 1.5rem;
  }
  .counter-subtitle {
    font-size: 1.1rem;
  }
  .icons {
    font-size: 1.1rem;
  }
  .about .title {
    font-size: 1.3rem;
  }
  .about .subtitle {
    font-size: 1.1rem;
  }
  .about p {
    font-size: 1rem;
    margin: 10px 0 !important;
  }
  .about-sw .title {
    font-size: 1.3rem;
    margin-top: 5px;
  }
  .about-sw p {
    font-size: 1rem;
    margin: 10px 0 !important;
  }
  footer .fmenu {
    font-size: 0.8rem;
  }
  footer .small {
    font-size: 0.8rem;
  }
  .ftext {
    font-family: "Bebas Neue", cursive;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
  }
  footer img {
    width: 20%;
    object-fit: cover;
    padding-bottom: 15px;
  }
}
