/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  background: url(../images/bg-vodoravna.webp) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
/* NAVBAR */
header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  transition: all 0.4s ease-out;
}
header.sticky {
  background: rgba(7, 7, 7, 0.904);
  border-bottom: 5px solid rgb(247, 31, 31);
}
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
header .logo img {
  height: 65px;
  width: 65px;
}
header .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-family: "Akshar", sans-serif;
  font-size: 1.3rem;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.menu-list li a:hover {
  color: red;
}
.menu-list li a.active {
  color: red;
  border-bottom: 1px solid red;
}
.icon {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(7, 7, 7, 0.904);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom: 5px solid rgb(247, 31, 31);
}
.dropdown-content a {
  padding: 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: red;
}
@media (min-width: 1201px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn{
    pointer-events: none;
  }
}
dl, ol, ul {
  margin-bottom: 0;
}
/*BACK TO TOP BUTTON*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 20px;
}

#myBtn:hover {
  background-color: rgb(196, 14, 14);
}
/* PROSTOR ZA GLAVNI NATPIS */
.banner {
  margin-top: 200px;
  margin-bottom: 150px;
}
.main-title {
  font-family: "Bebas Neue", cursive;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-shadow: 6px 3px 2px rgb(0, 0, 0);
  line-height: 1.1;
}
.main-title span {
  color: rgb(255, 0, 0);
}
.arrow {
  position: absolute;
  left: 50%;
  bottom: -80px;
  width: 60px;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ff0000;
  border-right: 5px solid #ff0000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* FORM */
.form {
  background: #000000d3;
  border-radius: 8px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
  position: relative;
  transition: 500ms linear;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 50px;
}
.form:hover {
  box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
}
.ftitle {
  color: #ffffff;
  font-family: "Bebas Neue", cursive;
  font-size: 2.2rem;
  border-bottom: 3px solid #ff0000;
}
.ftitle span {
  font-family: "Akshar", sans-serif;
  font-size: 1.4rem;
  color: rgb(255, 0, 0);
  align-self: center;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Akshar", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #ffffff;
  caret-color: #ff0000;
  color: white !important;
}
input:focus,
textarea:focus {
  border-bottom: 2px solid #ff0000;
}
.form p {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 1.1rem;
  color: #ff0000;
}
.fbtn {
  padding: 8px 22px;
  width: fit-content;
  margin: 8px 0 0;
  font-family: "Akshar", sans-serif;
  border: 2px solid rgb(156, 10, 10);
  background: 0;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: rgb(209, 10, 10);
  color: rgb(255, 255, 255);
}
/* KRAJ FORME */
/* FOOTER */
footer {
  background: rgba(7, 7, 7, 0.904);
  width: 100%;
  bottom: 0;
  margin-top: 150px;
}
footer a {
  text-decoration: none;
  color: white;
}
.social a {
  padding: 5px;
}
.fmenu a:hover,
.social a:hover {
  color: red;
}
.form-control {
  border: 1px solid red;
  background-color: rgba(56, 53, 53, 0.589);
}
.form-control:focus {
  border: 1px solid red;
  background-color: rgba(56, 53, 53, 0.589);
  outline: 0;
  box-shadow: none;
}
.btn-primary {
  background-color: rgba(56, 53, 53, 0.589);
  border: 1px solid red;
  outline: 0 !important;
  outline-color: transparent !important;
}
.btn-primary:hover {
  border: 1px solid rgb(255, 0, 0);
  background-color: red;
}
.btn-primary:focus,
.btn-primary:active {
  background-color: red;
  border: none;
  outline: none;
  box-shadow: none;
}
footer img {
  width: 45%;
  object-fit: cover;
  opacity: 0.7;
}
footer .fmenu {
  font-size: 1rem;
  font-family: "Akshar", sans-serif;
}
footer hr {
  color: white;
  opacity: 1;
}
.izbornik {
  margin-top: 110px;
}
.ftext {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;
}
footer .form-control {
  height: 38px;
}
footer .btn-primary {
  height: 38px;
}
footer .small {
  font-size: 1rem;
  font-family: "Akshar", sans-serif;
}
p.small.text-white::before {
  margin-top: 7px;
}
/* MEDIA QUERYI */
@media (max-width: 1200px) {
  body.disable-scroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    float: right;
    padding-right: 20px;
  }
  .icon:hover {
    color: red;
  }
  header .logo img {
    height: 50px;
    width: 50px;
  }
  .icon.hide {
    display: none;
  }
  header .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: rgba(7, 7, 7, 0.904);
    padding: 13px 0;
    display: flex;
    align-items: middle;
    flex-direction: column;
    text-align: center;
    border-right: 1px red solid;
    transition: all 0.4s ease;
  }
  header .menu-list.active {
    left: -0%;
  }
  .cancel-btn i {
    float: right;
  }
  .menu-list li {
    margin-top: 20px;
  }
  header .menu-list li a {
    font-size: 23px;
  }
  .dropdown {
    text-align: center;
  }
  .dropdown-content {
    transform: translateX(-50%);
    left: 50%;
  }
  .dropdown-content a {
    padding: 10px;
  }
  .main-title {
    font-size: 2.5rem;
  }
  .form {
    box-shadow: 1px -1px 40px 2px rgb(255, 0, 0);
  }
  footer img {
    width: 35%;
    object-fit: cover;
  }
  footer .fmenu {
    font-size: 1rem;
  }
  .izbornik {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .ftext {
    font-family: "Bebas Neue", cursive;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
  }
}

@media (max-width: 425px) {
  body {
    background: url(../images/bg-okomita.webp) no-repeat center center fixed;
    background-size: cover;
  }
  main {
    overflow: hidden;
  }
  .menu-list li a {
    font-size: 1rem;
  }
  .main-title {
    font-size: 2rem;
  }
  .arrow {
    bottom: -45px;
  }
  .arrow span {
    width: 20px;
    height: 20px;
  }
  .ftitle {
    font-size: 1.3rem;
  }
  .ftitle span {
    font-size: 0.9rem;
  }
  .form p {
    font-size: 0.8rem;
    margin: 18px 0 0;
  }
  footer .fmenu {
    font-size: 0.8rem;
  }
  footer .small {
    font-size: 0.8rem;
  }
  .ftext {
    font-family: "Bebas Neue", cursive;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
  }
  footer img {
    width: 20%;
    object-fit: cover;
    padding-bottom: 15px;
  }
}
