*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ff0000;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0;
  background: red;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: cyan;
}
.banner{
  height: 100vh; 
  background: url(/images/wallpaper.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 868px){
  body.disable-scroll{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: red;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu-list.active{
    left: -0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }

}